@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;

  --dark-color: hsl(245, 22%, 21%);
  --light-color:  hsl(0, 11%, 96%);
  --light-grey:  hsl(254, 10%, 67%);
  --dark-grey: hsl(245, 17%, 29%);
  --light-blue: hsl(199, 100%, 50%);
  --green: rgb(52, 165, 52);
  --accent-color: hsla(351, 80%, 59%, 0.9);
}

body {
  font-family: 'Unbounded', cursive;
  background-color: var(--dark-grey);
  color: var(--dark-grey);
  margin: 0;
}

/* || CONTENT */

.container {
  background-color: var(--light-color);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 6rem 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* TEXT */
h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--dark-color);
}

h2 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.95rem;
  line-height:1.5;

}

h3 {
  font-size: 1.5rem;
  font-weight: 400 ;
  color: var(--dark-color)
}

p {
  color: var(--dark-grey);
  font-size: 0.8rem;
  line-height: 1.5;
}

small {
  font-size: 1rem;
}

/* Header */

header {
  break-inside: avoid;
  white-space: nowrap;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.content__img {
  width: 100%;
}

.content__headline {
  text-align: center;
  font-size: 2rem;
  color: var(--light-blue);
  letter-spacing: .2rem;
}

.content__ul {
  line-height: 4rem;
  padding-top: 2rem;
}
.content__ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.content__ul li i {
  font-size: 1.5rem;
}
.content__ul li i:first-child{
  margin-right: 1rem;
}
.content__ul li i:nth-child(2) {
  margin-left: 1.5rem;
  font-size: 3rem;
  color: var(--green);
}


/* Cards */

.card {
  width: 300px;
  height: 350px;
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--dark-color);

}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
  padding: 6rem 0;
  gap: 2rem;
}

.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.card-content .fa-solid {
  font-size: 3rem;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  padding: 0.6rem;
}

.card-content h3 {
  text-align: center;
}


/* NAVIGATION */
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--accent-color);
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-75deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5rem;
  background: transparent;
  border: 0;
  font-size: 2.2rem;
  color: var(--light-color);
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}


/* NAVIGATION MENU */
nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  font-size: .8rem;
  text-transform: uppercase;
  color: var(--light-color);
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav ul li + li + li + li {
  margin-left: 45px;
  transform: translateX(-250%);
}

nav ul li + li + li + li + li {
  margin-left: 65px;
  transform: translateX(-300%);
}

nav a{
  color: var(--color-light);
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: var(--accent-color);
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  .container {
    padding-top: 4rem;
  }
  .content__ul li{
    display: inline-block;
    margin-inline-end: 8rem;
  }
}