@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;

	--dark-background: hsl(250, 20%, 20%);
	--light-background: hsl(250, 20%, 95%);
	--dark-color: hsl(250, 20%, 25%);
	--medium-color: hsl(250, 20%, 40%);
	--light-color: hsl(250, 10%, 70%);
	--light-blue: hsl(200, 100%, 50%);
	--green: rgb(52, 165, 52);
	--accent-color: hsla(351, 80%, 59%, 0.95);
}

body {
	font-family: 'Unbounded', cursive;
	background-color: var(--dark-background);
	color: var(--dark-color);
	line-height: 1.5;
	letter-spacing: 0.1rem;
	margin: 0;
	overflow-y: scroll;
	font-size: 1rem;
}

/* TEXT */
h1 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.1rem;
	color: var(--dark-color);
}

h2 {
	font-weight: 600;
	text-transform: capitalize;
	font-size: 1.5rem;
	color: var(--medium-color);
}

h3 {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--medium-color);
}
h4 {
	font-size: 1rem;
	font-weight: 400;
	color: var(--medium-color);
}
p {
	font-size: 0.8rem;
	margin-top: 1rem;
}

.container {
	background-color: var(--light-background);
	transform-origin: top left;
	transition: transform 0.5s linear;
	width: 100vw;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
	padding: 1em;
	text-align: center;
}

/* .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
} */

/* HEADER */
header {
	white-space: nowrap;
	padding-left: 5rem;
	padding-top: 5rem;
}
header .cta {
	background: var(--accent-color);
	border: none;
	border-radius: 1em;
	color: var(--light-background);
	font-size: 1.5em;
	padding: 0.5em;
	float: right;
	margin-inline-end: 25%;
	margin: 2rem;
	cursor: pointer;
}
header .cta:hover {
	scale: 1.1;
	box-shadow: 0 0 0.2em var(--accent-color);
}

/* HERO */
.content {
  padding: 2rem 4rem;
}

.content__img {
	width: 100%;
}

.content__headline {
	text-align: center;
	color: var(--light-blue);
	letter-spacing: 0.2rem;
	background-color: var(--dark-background);
	width: 100vw;
	padding: 0.5rem;
}

.content__ul {
	line-height: 2rem;
}
.content__ul li {
	list-style-type: none;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.content__ul li i {
	font-size: 1.5rem;
}
.content__ul li i:first-child {
	margin-right: 1rem;
}
.content__ul li i:nth-child(2) {
	margin-left: 1.1rem;
	font-size: 3rem;
	color: var(--green);
}

/* SERVICES */
.content__services {
	gap: 1em;
}

.content__card {
	border-radius: 5px;
	box-shadow: 0 0 2px var(--dark-color);
	padding: 1rem 1.5rem;
	row-gap: 0.2rem;
	width: 300px;
	height: 150px;
}
.content__card i {
	font-size: 2em;
	padding-bottom: 0.8rem;
}

/* ABOUT */
.content__team img {
	width: 50%;
}

.team__member--border img {
	border: 1px solid black;
	border-radius: 50%;
	padding: 0.1rem;
}

/* FAQ */
.content__faq {
  padding-top: 1rem;
  text-align: left;

}

.faq__question {
	border: 1px solid red;
	background: var(--dark--color);
	text-align: left;
	padding: 1em;
	width: 100%;
	justify-content: right;
	width: 50%;
}

/* CONTACT */
form {
	width: 90%;
	max-width: 600px;
}
.input-row {
	margin-bottom: 2rem;
	text-align: left;
	position: relative;
}
.input-row input, textarea {
	width: 100%;
	outline: none;
	padding: 1rem;
	background: transparent;
	border-radius: 5px;
	border: 1px solid var(--dark-color);
	resize: none;
}

.input-row label {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 1rem;
	cursor: text;
	transition: .3s;
}

.input-row i {
	margin-inline-end: .5rem;
}

form button {
	padding: 1rem 0;
	outline: none;
	background: transparent;
	border: 1px solid var(--dark-color);
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.input-row
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
	top: -2.5rem;
	font-size: small;
}


/* NAVIGATION */
.container.show-nav {
	transform: rotate(-20deg);
}

.circle-container {
	position: fixed;
	top: -100px;
	left: -100px;
}

.circle {
	background-color: var(--accent-color);
	height: 175px;
	width: 175px;
	border-radius: 50%;
	position: relative;
	transition: transform 0.5s linear;
}

.container.show-nav .circle {
	transform: rotate(-75deg);
}

.circle button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 2.2em;
	background: transparent;
	border: 0;
	font-size: 2em;
	color: var(--light-background);
  padding-top: .7rem;
  padding-left: 0;
}

.circle button:focus {
	outline: none;
}

.circle button#open {
	left: 65%;
}

.circle button#close {
	top: 65%;
	transform: rotate(90deg);
	transform-origin: top left;
}

.container.show-nav + nav li {
	transform: translateX(0);

	transition-delay: 0.3s;
}

/* NAVIGATION MENU */
nav {
	position: fixed;
	max-height: 80vh;
	bottom: 0;
	left: 0;
	z-index: 100;
}

nav ul {
	list-style-type: none;
	padding-left: -10%;
}

nav ul li {
	/* font-size: .8rem; */
	text-transform: uppercase;
	color: var(--light-color);
	margin: 40px 0;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in;
}

nav ul li i {
	margin-right: 10px;
}

nav ul li + li {
	margin-left: 15px;
	transform: translateX(-150%);
}

nav ul li + li + li {
	margin-left: 30px;
	transform: translateX(-200%);
}

nav ul li + li + li + li {
	margin-left: 45px;
	transform: translateX(-250%);
}

nav ul li + li + li + li + li {
	margin-left: 65px;
	transform: translateX(-300%);
}

nav a {
	color: var(--color-light);
	text-decoration: none;
	transition: all 0.5s;
}

nav a:hover {
	color: var(--accent-color);
	font-weight: bold;
}



/* Media queries */
@media screen and (orientation: landscape) and (min-width: 800px) {
	header {
		padding-left: 6%;
		/* padding-top: 5%; */
		padding-bottom: 0;
	}
	.flex {
		row-gap: 1rem;
		padding: 0;
	}
	.content__services {
		padding-top: 5%;
		gap: 2rem;
	}
	.content__card {
		width: 500px;
	}
	.content__img {
		width: 75%;
	}
	.content__ul li {
		display: inline-block;
		margin-inline-end: 2rem;
		white-space: inherit;
	}
	header .cta {
		margin-inline-end: 30%;
		margin-bottom: 0;
	}
	.content__about {
		padding: 6rem;
	}

	.team__member img {
		width: 100%;
	}
  .content__faq {
    padding: 2rem;

  }
}

@media (min-width: 800px) and (max-width: 860px) {
	.content__ul li {
		margin-inline-end: 1rem;
	}
	.content__ul li i:nth-child(2) {
		font-size: 2rem;
	}
}

@media (min-width: 1564px) {
	.content__services {
		padding: 5% 2rem;
	}
	.content__card {
		width: 1000px;
		padding-top: 2rem;
	}
}
